 
ITAcademy_SecretStorage.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_SecretStorage.xcodeproj/project.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_SecretStorage.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ITAcademy_SecretStorage.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
ITAcademy_SecretStorage.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_SecretStorage.xcworkspace/xcuserdata/vlados.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ITAcademy_SecretStorage.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_SecretStorage.xcworkspace/contents.xcworkspacedata
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/Pods-ITAcademy_SecretStorage.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit-SnapKit_Privacy.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
